@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* SLICK JS style override */

ul.slick-dots li button:before {
  font-size: 12px;
}

ul.slick-dots li.slick-active button:before {
  color: #ffce07;
}
